<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.feed.FeedFavMapper">

    <insert id="insFeedFva">
        INSERT INTO t_feed_fav
        SET ifeed = #{ifeed}
        , iuser = #{iuser}
    </insert>

    <delete id="delFeedFav">
        DELETE FROM t_feed_fav
        WHERE iuser = #{iuser} AND ifeed = #{ifeed}
    </delete>

    <!-- 모든 좋아요 지우기
    DELETE FROM t_feed_fav
    WHERE ifeed = #{ifeed}
    -->



</mapper>