<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.feed.FeedCommentMapper">
    <insert id="insFeeedCommnet" keyProperty="ifeedComment" useGeneratedKeys="true">
        INSERT INTO t_feed_comment
        SET iuser = #{iuser}
        , ifeed =  #{ifeed}
        , comment = #{comment}
    </insert>

    <select id="selFeedCommentAll">
        SELECT A.ifeed_comment as ifeedComment, A.comment, A.created_at as createdAt, B.iuser as writerIuser, B.nm as writerNm, B.pic as writerPic
        FROM t_feed_comment A
        JOIN t_user B
        ON A.iuser = B.iuser
        WHERE A.ifeed = #{ifeed}
        ORDER BY A.ifeed
        LIMIT #{startIdx}, #{rowCount}


    </select>



</mapper>
